# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/demo01/node_modules
/demo01/.pnp
/demo01/.pnp.js

# testing
/demo01/coverage

# production
/demo01/build

# misc
/demo01.DS_Store
/demo01.env.local
/demo01.env.development.local
/demo01.env.test.local
/demo01.env.production.local

/demo01npm-debug.log*
/demo01yarn-debug.log*
/demo01yarn-error.log*


/demo02/node_modules
/demo02/.pnp
/demo02/.pnp.js

# testing
/demo02/coverage

# production
/demo02/build

# misc
/demo02.DS_Store
/demo02.env.local
/demo02.env.development.local
/demo02.env.test.local
/demo02.env.production.local

/demo02npm-debug.log*
/demo02yarn-debug.log*
/demo02yarn-error.log*